/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

a {
  text-decoration: none;
  color: #333;
}

a, a:focus {
  outline: none;
}

input, a {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 13.333333vw;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Microsoft YaHei', "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: .3rem;
  -webkit-text-size-adjust: none;
}

button, input {
  border: none;
  background-color: #fff;
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#home_header {
  height: .96rem;
  background-color: #e9203d;
}

#home_nav {
  overflow: hidden;
}

#home_nav li {
  float: left;
  width: 20%;
  height: .88rem;
  margin: 0 2.5%;
  line-height: .88rem;
  text-align: center;
}

#home_nav li.active {
  box-shadow: inset 0px -2px 0px #e9203d;
}

#home_nav a {
  display: block;
}

#home .banner {
  height: 3rem;
}

#home .banner img {
  max-width: 100%;
}

#home .banner .swiper-pagination-bullet-active {
  background-color: #e9203d;
}

#home .home-list {
  margin: 0 .08rem;
}

#home .home-list .title {
  height: .92rem;
  line-height: .92rem;
  margin: .08rem;
  border-bottom: 1px solid #d9d9d9;
}

#home .home-list .title span {
  display: inline-block;
}

#home .home-list .title i {
  display: inline-block;
  font-size: .48rem;
  vertical-align: -.09rem;
}

#home .home-list .list {
  overflow: hidden;
}

#home .home-list .list li {
  position: relative;
  float: left;
  width: 33.33333%;
  padding: 4px;
  margin-bottom: .2rem;
  box-sizing: border-box;
}

#home .home-list .list .pic {
  position: relative;
}

#home .home-list .list .pic img {
  max-width: 100%;
}

#home .home-list .list .pic .count {
  position: absolute;
  left: 0;
  top: .04rem;
  width: 100%;
  height: .04rem;
  text-align: right;
  color: #fff;
  font-size: .24rem;
}

#home .home-list .list .pic .count i {
  margin-right: .04rem;
}

#home .home-list .list .pic .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#home .home-list .list .desc {
  overflow: hidden;
  height: .7rem;
  padding-top: .1rem;
  line-height: .32rem;
  font-size: .26rem;
}

#new_song .list li {
  margin: 0 .2rem;
  padding: .3rem 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: .28rem;
}

#new_song .list a {
  display: block;
  max-width: 90%;
  line-height: .36rem;
}

#rank .list a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #d9d9d9;
}

#rank .list img {
  display: block;
  width: 2rem;
}

#rank .list p {
  flex: 1;
  padding-left: .2rem;
}

#rank .list i {
  font-size: .64rem;
  color: #d9d9d9;
}
