/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
a {
    text-decoration: none;
    color: #333;
}
a, a:focus {
	outline: none;
}
a,b,blockquote,body,button,caption,dd,del,div,dl,dt,em,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,i,ins,legend,li,menu,ol,p,pre,s,span,strong,table,td,textarea,th,u,ul {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none
}
img {
    vertical-align: top;
}
html {
	font-size: 13.333333vw;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Microsoft YaHei', "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: .3rem;
	text-size-adjust: 100% !important; // 禁止微信放大字体
	background-color: #fcfcfd;
}
button, input {
	border: none;
	background-color: #fff;
	outline: none;
}


.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }


// =============模块=============
#header_title {
	display: flex;
	align-items: center;
	height: .9rem;
	line-height: .9rem;
	color: #fff;
	background-color: #e9203d;
	
	i.icon-keyboard_arrow_left {
		font-size: .64rem;
	}
	.icon-home {
		display: block;
		width: .4rem;
		height: .4rem;
		margin-right: .2rem;
		img {
			max-width: 100%;
		}
	}
	p {
		flex: 1;
		text-align: center;
	}
}
#loading {
	&.full {
		height: 100vh;
		display: flex;
		margin-top: 2rem;
		justify-content: center;
	}
	
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	margin: .4rem 0;
	text-align: center;
	color: #999;

	i {
		display: inline-block;
		width: .4rem;
		height: .4rem;
		margin-right: 2px;
		background: url(../images/loading.gif) no-repeat;
		background-size: cover;
		background-position: left center;
		vertical-align: top;
	}
}
.scroll-tip {
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	margin: .4rem 0;
	text-align: center;
	color: #999;
}
.song-list {
	margin: 0 .2rem;
	
	li {
		padding: .2rem 0;
		border-bottom: 1px solid rgba(0, 0, 0, .05);
	}
	.name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		max-width: 90%;
		font-size: .3rem;
	}
	p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 90%;
		padding-top: .1rem;
		color: #888;
		font-size: .24rem;
	}
}


// =============首页=============
// 个性推荐
#home_header {
	position: relative;
	height: .8rem;
	text-align: center;
	background-color: #e9203d;

	img {
		display: inline-block;
	}
	.go-player {
		position: absolute;
		right: .2rem;
		top: .1rem;
		width: .6rem;
		height: .6rem;
		background: url(../images/go_player.png) no-repeat;
		background-size: cover;
	}
}
#home_nav {
	overflow: hidden;
	background-color: #fff;

	li {
		float: left;
		width: 20%;
		height: .8rem;
		margin: 0 2.5%;
		line-height: .8rem;
		text-align: center;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		
		&.active {
			border-bottom-color: #e9203d;
		}
	}
	a {
		display: block;
	}
}
#home {
	#loading {
		position: absolute;
	}
	.banner {
		// height: 3.36rem;

		img {
			width: 100%;
		}
		.swiper-pagination-bullet-active {
			background-color: #e9203d;
		}
	}
	.home-list {
		.title {
			margin: .28rem 0;
			
			span {
				display: inline-block;
				position: relative;
				padding-left: .2rem;

				&:before {
					content: " ";
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -.16rem;
					width: .04rem;
					height: .32rem;
					background-color: #d33a31;
				}
			}
			i {
				display: inline-block;
				font-size: .48rem;
				vertical-align: -.09rem;
			}
		}
		.list {
			overflow: hidden;
			
			li {
				position: relative;
				float: left;
				width: 33.3%;
				margin-bottom: .2rem;
				box-sizing: border-box;

				&:nth-child(2n + 1),
				&:nth-child(2n){ 
					padding-left: 0;
    				padding-right: 2px;
				}
				&:nth-child(3n - 1){ 
					padding: 0 1px;
				}
				&:nth-child(3n){ 
					padding-left: 2px;
    				padding-right: 0;
				}
			}
			.pic {
				position: relative;
				img {
					width: 100%;
					height: 2.34rem;
				}
				.count {
					position: absolute;
					right: .04rem;
					top: .04rem;
					width: 100%;
					height: .04rem;
					text-align: right;
					color: #fff;
					font-size: .24rem;
					
					i {
						margin-right: .04rem;
					}
					em {}
				}
				.mask {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
			.desc {
				overflow: hidden;
				height: .6rem;
				padding-top: .1rem;
				line-height: .32rem;
				font-size: .26rem;
			}
		}
	}
}
// 榜单
#rank {
	.list {
		li {
			
		}
		a {
			display: flex;
			align-items: center;
			padding: 10px 0;
			margin: 0 10px;
			border-bottom: 1px solid #d9d9d9;
		}
		img {
			display: block;
			width: 2rem;
		}
		p {
			flex: 1;
			padding-left: .2rem;
		}
		i {
			font-size: .64rem;
			color: #ddd;
		}
	}
}
// 歌手
#singer {
	.category {
		padding: .2rem;
		
		li {
			margin-top: -1px;
			border: 1px solid #d9d9d9;
		}
		a {
			display: flex;
			padding: .3rem;
			line-height: .4rem;
			justify-content: space-between;
		}
		span {}
		i {
			font-size: .4rem;
			color: #b0b0b0;
		}
		.mb {
			margin-bottom: .4rem;
		}
	}
}


// =============歌单/新碟上架=============
#playlist, #album {
	.list {
		overflow: hidden;
		
		li {
			position: relative;
			float: left;
			width: 50%;
			padding-bottom: 4px;
			margin-bottom: .1rem;
			box-sizing: border-box;

			&:nth-child(2n) {
				padding-left: 2px;
			}
			&:nth-child(2n + 1) {
				padding-right: 2px;
			}
		}
		.pic {
			position: relative;
			img {
				max-width: 100%;
				height: 3.72rem;
			}
			.count {
				position: absolute;
				top: .04rem;
				right: .04rem;
				width: 100%;
				height: .04rem;
				text-align: right;
				color: #fff;
				font-size: .24rem;
				
				i {
					margin-right: .04rem;
				}
				em {}
			}
			.mask {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
		.desc {
			overflow: hidden;
			height: .7rem;
			padding-top: .1rem;
			line-height: .32rem;
			font-size: .26rem;
		}
	}
}


// =============详情页面=============
#playlist_detail,
#album_detail {
	#header_title {
		position: absolute;
		z-index: 999;
		left: 0;
		top: 0;
		width: 100%;
		color: #fff;
		background-color: transparent;
	}
	.header {
		position: relative;
		padding-top: .9rem;
		overflow: hidden;

		.bg {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50%;
			filter: blur(20px);
			transform: scale(1.5);

			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, .25);
			}
		}
		.cont {
			display: flex;
			align-items: center;
			height: 3.2rem;
			padding: .2rem;
			box-sizing: border-box;

			img {
				display: block;
				width: 40%;
			}
			.info {
				padding-left: .3rem;

				p {
					line-height: .4rem;
					padding-bottom: .2rem;
					color: #fff;
				}
			}
		}
		.play {
			display: flex;
			height: 1rem;
			padding: .26rem;
			line-height: .48rem;
			justify-content: space-between;
			border-bottom: 1px solid #e9203d;
			color: #fff;
			box-sizing: border-box;

			i {
				font-size: .48rem;
				color: #fff;
			}
		}
	}
	.song-list {
		margin: 0;
		padding: 0 .2rem;
	}
}
#singer_list {
	.list {
		margin: 0 .2rem;
		
		li {
			padding: .2rem 0;
			border-bottom: 1px solid #d9d9d9;
			font-size: .28rem;
		}
		a {
			display: flex;
			align-items: center;
			line-height: .36rem;
		}
		img {
			width: 1.3rem;
			height: 1.3rem;
		}
		span {
			padding-left: .2rem;
			flex: 1;
		}
		i {
			font-size: .4rem;
			color: #b0b0b0;
		}
	}
}
#singer_detail {
	.cont {
	}
	.play {
		display: flex;
		padding: .2rem .26rem;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e9203d;
		color: #e9203d;

		i {
			font-size: .48rem;
			color: #e9203d;
		}
	}
	.header img {
		width: 100%;
	}
}


// =============播放页面=============
@keyframes circling {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}
#music_player {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	
	.home {
		position: absolute;
		z-index: 1;
		width: .4rem;
		height: .4rem;
		margin: .2rem;
		
		img {
			width: 100%;
		}
	}
	.bg {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: auto 100%;
		transform: scale(1.5);
		transform-origin: center top;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		filter: blur(80px);

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: rgba(0,0,0,.2);
		}
	}
	.play {
		position: relative;
		padding-top: 1.4rem;
		width: 100%;
	}
	.play-border {
		position: relative;
		z-index: 2;
		width: 5.92rem;
		height: 5.92rem;
		margin: 0 auto;
		
		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: -1.4rem;
			left: 2.66rem;
			width: 1.92rem;
			height: 2.74rem;
			background-image: url(../images/play_op.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
		
	}
	.play-pic {
		position: absolute;
		width: 5.92rem;
		height: 5.92rem;
		animation: circling 20s infinite linear;

		&.paused {
			animation-play-state: paused;
		}
		
		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/play_border.png);
			background-repeat: no-repeat;
			background-size: contain;
		}

		.wrapper {
			overflow: hidden;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -1.84rem 0 0 -1.84rem;
			width: 3.68rem;
			height: 3.68rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.play-light {
		position: absolute;
		width: 5.92rem;
		height: 5.92rem;
		background-image: url(../images/play_light.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.info {
		margin-top: 1rem;
		text-align: center;
		color: #fff;
		line-height: .4rem;
		
		h4 {
			font-size: .32rem
		}
		p {}
	}
	.operation {
		position: absolute;
		bottom: 20px;
		display: flex;
		width: 90%;
		margin: 0 5%;
		justify-content: space-between;

		i {
			font-size: 1rem;
			color: rgba(255, 255, 255, .8);
		}
	}

	@media screen and (min-width: 414px) {
		.play {
			padding-top: 70px;
		}
		.play-border {
			width: 342px;
			height: 342px;
		}
		.play-border:before {
			left: 150px;
			width: 110px;
			height: 157px;
			top: -70px;
		}
		.play-pic {
			width: 326px;
			height: 326px;

			.wrapper {
				width: 212px;
				height: 212px;
				margin: -106px 0 0 -106px;
			}
		}
		.play-light {
			width: 326px;
			height: 326px;
		}
	}
}
#music_audio {
	display: none;
}